<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 配置dao -->
    <bean name="customerDao" class="com.dlj.dao.CustomerDao"></bean>
    <bean name="userDao" class="com.dlj.dao.UserDao"></bean>
   
    
    <!-- 配置service -->
     <bean name="customerService" class="com.dlj.service.CustomerService">
     	<property name="dao" ref="customerDao"></property>
     
     </bean>
    <bean name="userService" class="com.dlj.service.UserService">
    	<property name="dao" ref="userDao"></property>
    </bean>
    
    
</beans>