<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web16</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SendCookieServlet</display-name>
    <servlet-name>SendCookieServlet</servlet-name>
    <servlet-class>com.dlj.cookie.SendCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCookieServlet</servlet-name>
    <url-pattern>/sendCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.dlj.cookie.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookie</display-name>
    <servlet-name>GetCookie</servlet-name>
    <servlet-class>com.dlj.cookie.GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookie</servlet-name>
    <url-pattern>/getCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastAccessTime</display-name>
    <servlet-name>LastAccessTime</servlet-name>
    <servlet-class>com.dlj.cookie.LastAccessTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAccessTime</servlet-name>
    <url-pattern>/lastAccessTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.dlj.session.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/sessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet2</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.dlj.session.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/sessionServlet2</url-pattern>
  </servlet-mapping>
</web-app>