<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web20</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.dlj.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductUI</display-name>
    <servlet-name>AdminAddProductUI</servlet-name>
    <servlet-class>com.dlj.web.AdminAddProductUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUI</servlet-name>
    <url-pattern>/adminAddProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProduct</display-name>
    <servlet-name>AdminAddProduct</servlet-name>
    <servlet-class>com.dlj.web.AdminAddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProduct</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProduct</display-name>
    <servlet-name>AdminDelProduct</servlet-name>
    <servlet-class>com.dlj.web.AdminDelProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProduct</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductUI</display-name>
    <servlet-name>AdminUpdateProductUI</servlet-name>
    <servlet-class>com.dlj.web.AdminUpdateProductUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUI</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProduct</display-name>
    <servlet-name>AdminUpdateProduct</servlet-name>
    <servlet-class>com.dlj.web.AdminUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProduct</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductList</display-name>
    <servlet-name>AdminSearchProductList</servlet-name>
    <servlet-class>com.dlj.web.AdminSearchProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductList</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.dlj.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsername</display-name>
    <servlet-name>CheckUsername</servlet-name>
    <servlet-class>com.dlj.web.CheckUsername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsername</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
</web-app>